#imgSlide {
    width: 1250px;
    
}

.slider {
    margin-top: 70px;
    margin-left: 50px;
    width: 1250px;
    height: 450px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.slides {
    width: 1250%;
    height: 400px;
    display: flex;
   
}

.slides input{
    display: none;

}

.slide{
    width: 20%;
    transition: 1s;
}

.slide img {
    width: 1000px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 1250px;
    margin-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual-btn {
    border: 3px solid  #000000;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;

}

.manual-btn:hover {
    background: #000000;

}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 1300px;
    justify-content: center;
    margin-top: 640px;
    margin-left: 200px;
   

}

.navigation-auto div {
    border: 4px solid  #000000;
    padding: 7px;
    border-radius: 10px;
    transition: 1s;

}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ ,.navigation-auto .auto-btn1{
    background: #000000;
}

#radio2:checked ~ ,.navigation-auto .auto-btn2{
    background: #000000;
}

#radio3:checked ~ ,.navigation-auto .auto-btn3{
    background: #000000;
}
